.moviesStyle{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: relative;
    height: 100vh;
    width: 100%;
}

.gridDiv{
    margin: 80px 0px;
    width: 40rem;
    height: 40rem;
    display: grid;
    gap: 3px 3px;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 180px 180px 180px;
}

.nextPageButton{
    background-color: #148A08;
    border: 1px solid #148A08 ;
    border-radius: 25px;
    color: white;
    font-size: 20px;
    text-align: center;
    width: 120px;
    padding: 12px;
    cursor: pointer;
    position: absolute;
    bottom: 2.6rem;
    right:5.4rem;
}


.headerPara{
    margin : 0px;
    position: absolute;
    top: 20px;
    left: 30px;
    color: #72DB73;
    font-size : 35px;
    font-family : 'Single Day' ;
}

.headerImg{
    position: fixed;
    right: 120px;
    top: 20px;
    height: 60px;
    width: 60px;   
}

.browseBody{
    font-family: 'Roboto';
    font-size : 20px;
    color: white;
    margin: 15px 0px 2px 50px;
    padding: 0px;
}

.dashboardDiv{
    height: 100vh;
    width: 100vw;
    padding: 0.6rem 6rem;
    background-color: black;
    position : relative;
}

.dashboardBrowseButton{
    background-color: #148A08;
    border: 1px solid #148A08 ;
    border-radius: 25px;
    color: white;
    font-size: 20px;
    text-align: center;
    width: 180px;
    padding: 12px;
    cursor: pointer;
    position : absolute ;
    top: 39.5rem;
    left: 74rem;
}

.errorPage{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(-45deg,#71b7e6,#69a6ce,#b98acc,#ee8176,#b98acc,#69a6ce,#9b59b6);
}

.errorContainer{
    height: fit-content;
    width: fit-content;
    text-align: center;
    position: relative;
    padding: 5rem;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(-45deg,#71b7e6,#69a6ce,#b98acc,#ee8176,#b98acc,#69a6ce,#9b59b6);
}

.errorContainer button:hover{
    background-image: linear-gradient(-45deg,#71b7e6,#69a6ce,#b98acc,#ee8176,#b98acc,#69a6ce,#9b59b6);
}

.errorButtonStyles{
    cursor: pointer;
    display : block;
    position : absolute;
    bottom : 1em ;
    left: 15em;
    border: 2px solid #69a6ce;
    color: black;
    padding : 10px 25px;
    border-radius: 25px;
    font-weight: 500;
    text-transform: uppercase;
}

::-webkit-scrollbar {
    width: 0.25rem;
}

::-webkit-scrollbar-track {
    /* background-color: #D9D9D9; */
    background-color: #000000;
    border-radius: 0.3rem;
}

::-webkit-scrollbar-thumb {
    background: #FFFFFF;
    border-radius: 0.3rem;
}

::-webkit-scrollbar-thumb:hover {
    background: #FFFFFF;
}